@tailwind base;
@tailwind components;
@tailwind utilities;


/* header */
img{
    border-radius: 3px;
    max-width: 100%;
    max-height: 100%;
}
.header{
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    right: 0;
    /* border-bottom: 1px solid #ccc; */
}
.header-inner{
    /* max-width: 1240px; */
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
   
}
.menu{
    display: flex;
    align-items: center;

}
.menu-item{
    margin: 0 1rem;
    
}
.menu-item:hover .menu-child{
    opacity: 1;
    visibility: visible;
}
.menu-child{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: 0.25s linear;
    border-bottom: 1px solid #ccc;
    
}

.menu-child-flex{
    display: flex;
}
.menu-child-item{
    width: 50%;
    padding: 1rem;

}
.menu-child-list li{
    color: rgb(71, 71, 71);
}
.menu-item a{

    
}
/* Our favorites */

.link-post:hover{
    background-color: #000;
    color: #fff;
    transition: 0.25s linear;
}

/* categories */
.categories-item{
    background-color: #E5E5E3;
    
}
.item-boder{
    border: 1px solid #ccc;
}



/* page posts */
.main-post{
    margin-top: 100px;
}
.header-main{
    text-align: center;
}
.title-posts{
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    margin-bottom: 10px;
}
.header-main p{
    font-family: 'Cormorant Garamond', serif;

}

.body-posts{
    margin-top: 100px;
}
.item-post{
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 3px;
}
.item-post h4{
    font-family: 'Cormorant Garamond', serif;
    font-size: 18px;
    margin: 15px 0px;
    text-align: left;
}
.item-post p {
    text-align: left;
    color: #736C6C;
}
.btn-post{
    border: 1px solid #ccc;
    padding: 5px 30px;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 13px;
}
.btn-post:hover{
    background-color: #000;
    color: #fff;
    transition: 0.25s linear;
}
.footer-posts{
    margin-top: 50px;
    text-align: center;
}
.btn-footer{
    border: 1px solid #ccc;
    padding: 5px 30px;
    
}
.btn-footer:hover{
    background-color: #000;
    color: #fff;
    transition: 0.25s linear;
}


/* products */
.products-main{
    margin-top: 150px;
}
.header-product{
    text-align: center;
}
.header-product h2{
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    margin-bottom: 10px;
}
.header-product p {
    width: 50%;
    margin: auto;
    font-family: 'Cormorant Garamond', serif;
    
}
.filter-products{
    margin-top: 100px;
}
.filter-menu{
    width: 100%;
    display: flex;
    border: 1px solid #ccc;
    padding: 10px 0px;
}
.filter-menu li{
    padding: 0px 30px;
    
}
.menu-item-filter{
    border-left: 1px solid #ccc;
    
}
.product-item{
    margin-top: 50px;
}


/* signin */
.header-signin {
   display: grid;
   align-items: center;
   justify-items: center;
   height: 56px;
}
.main-signin {
    margin-top: 50px;
}
.title-signin{
    text-align: center;
    font-family: 'PT Serif', serif;
    font-size: 40px;
}
.main-signin p{
    text-align: center;
    font-family: 'Kaisei Decol', serif;

}
.form-signin{
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.inp-item{
    margin-bottom: 15px;
}
.label-name{
    display: flex;
}
.inp-email, .inp-pass{
    border: 1px solid #000;
    width: 300px;
    padding: 5px 15px;
    margin-top: 5px;
}
.inp-email, .inp-pass::placeholder{
    font-size: 13px;
}
.inp-email, .inp-pass:focus{
    outline: none;
}
.btn-next{
   
    padding: 5px 0px;
    margin-top: 10px;
    background-color: #000;
    color: #fff;
    font-size: 13px;
}
.btn-next:hover{
    background-color: #a60505;
    transition: 0.25s linear;
}


/* detail products */
.body-main{
    margin-top: 100px;
}
.img-sub{
    margin-top: 10px;
}
.img-sub-item{
    width: 100%;
}
.intro-product{
    
}
.title-intro h2{
    font-family: 'Kaisei Decol', serif;
    font-size: 28px;
}
.title-intro p{
    font-size: 13px;
    color: #736C6C;
    margin-bottom: 10px;
}
.price-product{
    font-family: 'Dosis', sans-serif;
    

}
.btn-detail{
    display: flex;
    gap: 5px;
    margin-top: 10px;
}
.btn-item{
    width: 100%;
    
}
.btn-now{
    background-color: #ccc;
    width: 100%;
    padding: 5px 0px;
    color: #736C6C;
}
.btn-now:hover{
    background-color: #a60505;
    color: #fff;
    transition: 0.25s linear;
}
.btn-add-card{
    background-color: #000;
    color: #fff;
    padding: 5px 10px;
}
.desc-product{
    margin-top: 30px;
    background-color: #f4f4f4;
    padding: 20px;
}
.desc-product{
    text-align: left;
    font-size: 13px;
}
.list-desc{
    padding: 10px 30px;
}
.list-desc li{
    list-style: outside;
}
/* responsive */


